---
import dot from "../assets/icons/dot.svg?url";
interface Technology {
  name: string;
  color: string;
}

interface Props {
  company: string;
  position: string;
  startDate: string;
  endDate: string;
  description: string;
  tasksList: string[];
  technologiesList: Technology[];
}

const { company, position, startDate, endDate, description, tasksList, technologiesList } = Astro.props;
---

<style>
  .experience {
    border: 2px solid var(--border);
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    border-radius: 8px;
    padding: 24px;
  }

  .header {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .header-start {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
  }

  .header-title {
    font-weight: bold;
    font-size: clamp(1.3rem, 2.5vw, 1.8rem);
    color: var(--copy);
  }

  .dates {
    font-weight: 400;
    font-size: clamp(0.8rem, 1vw, 1.2rem);
    color: var(--copy-lighter);
  }

  .description {
    font-size: var(--font-size-description);
    color: var(--copy-light);
  }

  .technology-labels {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  .description-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  @media (max-width: 720px) {
    .experience {
      gap: 8px;
      padding: 16px;
    }

    .header {
      flex-direction: column;
      gap: 12px;
    }

    .header-start {
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
    }

    #dot {
      display: none;
    }

    .description-container {
      gap: 4px;
      padding: 0;
      margin-top: 8px;
    }

    .technology-label {
      padding: 4px 12px;
    }

    .tasks-list-container {
      padding-left: 26px;
    }
  }
</style>

<div class="experience" data-aos="zoom-in-down">
  <div class="header">
    <div class="header-start">
      <h2 class="header-title">
        {company}, {position}
      </h2>
      <img src={dot} alt="dot" id="dot" />
      <p class="dates">
        {startDate} - {endDate}
      </p>
    </div>
    <div class="technology-labels">
      {technologiesList.map((technology, index) => (
        <span
          style={{
            padding: "4px 16px",
            borderRadius: "10px",
            border: "1px solid #dedde2",
            backgroundColor: technology.color,
            color: "var(--copy)",
            fontSize: "clamp(0.8rem, 1vw, 1.2rem)",
          }}
          class="technology-label"
        >
          {technology.name}
        </span>
      ))}
    </div>
  </div>
  <div
    style={{
      marginTop: "8px",
      padding: "0 24px",
      display: "flex",
      flexDirection: "column",
      gap: "8px",
    }}
    class="description-container"
  >
    <p class="description">{description}</p>
    <ul
      style={{ display: "block", paddingLeft: "36px", height: "60px", overflow: "auto" }}
      class="tasks-list-container"
    >
      {tasksList.map((task, index) => (
        <li
          style={{
            lineHeight: "1.2",
            color: "var(--copy-light)",
            fontSize: "var(--font-size-description)",
          }}
        >
          {task}
        </li>
      ))}
    </ul>
  </div>
</div>