---
// filepath: c:\Users\Administrador_R\Desktop\portfolio-v3\frontend\src\components\Footer.astro
import GithubIcon from "../assets/icons/github.svg?url";
import LinkedinIcon from "../assets/icons/linkedin.svg?url";
import WhatsappIcon from "../assets/icons/whatsapp.svg?url";
import GmailIcon from "../assets/icons/gmail.svg?url";
import { removeAccents, isMainPage } from "../utils/utils";
let pathname = Astro.url.pathname;
let { footerElements } = Astro.props;
import { loadTranslations } from "../i18n";
import { getLocale } from "astro-i18n-aut";
const locale = getLocale(Astro.url);
const translations = await loadTranslations(locale);

---

<footer class="footer" id="footer">
  <div class="footer-content">
    <div class="footer-social">
      <a href="https://github.com/cami98735264" target="_blank" rel="noopener noreferrer">
        <img src={GithubIcon} alt="GitHub" />
      </a>
      <a href="https://www.linkedin.com/in/cristi%C3%A1n-camilo-rodr%C3%ADguez-montealegre-8a8697272/" target="_blank" rel="noopener noreferrer">
        <img src={LinkedinIcon} alt="LinkedIn" />
      </a>
      <a href="https://wa.me/+573186562061" target="_blank" rel="noopener noreferrer">
        <img src={WhatsappIcon} alt="WhatsApp" />
      </a>
      <a href="mailto:mashlowtm0510@gmail.com" target="_blank" rel="noopener noreferrer">
        <img src={GmailIcon} alt="Gmail" />
      </a>
    </div>
    <div class="footer-nav">
      {
        footerElements.links.map((link: string) => {
          return <a href={`${isMainPage(pathname) ? `#${removeAccents(translations.footer[link].toLowerCase())}` : 
            `/${locale}/#${removeAccents(translations.footer[link].toLowerCase())}`
            }`}>{translations.footer[link]}</a>;
        })
      }
    </div>
    <div class="footer-copy">
      <p>&copy; {new Date().getFullYear()} Cristián Camilo Rodríguez Montealegre. All rights reserved.</p>
    </div>
  </div>
</footer>

<style>
  .footer {
    background-color: var(--background);
    padding: 20px;
    border-top: 1px solid var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
  }
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
  }
  .footer-social {
    display: flex;
    gap: 16px;
  }
  .footer-social a img {
    width: 24px;
    height: 24px;
  }
  .footer-nav {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-nav a {
    font-size: var(--font-size-description);
    color: var(--copy-light);
    text-decoration: none;
  }
  .footer-nav a:hover {
    text-decoration: underline;
  }
  .footer-copy p {
    color: var(--copy-light);
    font-size: var(--font-size-description);
    text-align: center;
  }

  @media (max-width: 600px) {
    .footer-content {
      gap: 12px;
    }
    .footer-social {
      gap: 12px;
    }
    .footer-nav {
      gap: 12px;
    }
    .footer-copy {
        text-align: center;
    }
  }
</style>