---
import PageSection from "../PageSection.astro";
import Button from "../Button.astro";
import Github from "../../assets/icons/github.svg?url";
import Linkedin from "../../assets/icons/linkedin.svg?url";
import Whatsapp from "../../assets/icons/whatsapp.svg?url";
import Gmail from "../../assets/icons/gmail.svg?url";
import arrowRight from "../../assets/icons/arrow-right.svg?url";
import download from "../../assets/icons/download.svg?url";
import profilePicture from "../../assets/images/profile_picture.jpg?url";
import dot from "../../assets/icons/dot.svg?url";
import { loadTranslations } from "../../i18n";
import { getLocale } from "astro-i18n-aut";
import { removeAccents } from "../../utils/utils";
import { Image } from "astro:assets";
const locale = getLocale(Astro.url);
const translations = await loadTranslations(locale);
let convertedId = removeAccents(translations.sections.aboutMe.containerId).toLowerCase().split(" ").join("-");
let contactMeId = removeAccents(translations.sections.contactMe.containerId).toLowerCase().split(" ").join("-");

const descriptionTitle = translations.sections.aboutMe.descriptionTitle;
---

<PageSection id={convertedId}
  fixedHeight={true}
  flexConfig={{
    enable: true,
    direction: "column",
    justify: "center",
    align: "center",
    gap: "16px",
  }}
  maxWidth="1680px"
>
  <div class="hero">
    <div class="hero__content">
      <h1 class="hero__title" data-aos="fade-right" data-aos-delay="300">
        {descriptionTitle.split(",")[0]}, <span
          class="hero__title__customText"
          style="color: var(--secondary)">{descriptionTitle.split(",")[1].trim().split(" ")[0]}</span
        >
        {locale === "es" ? <span class="hero__title__customText" style="color: var(--primary)"
          >{descriptionTitle.split(",")[1].trim().split(" ")[1]} {descriptionTitle.split(",")[1].trim().split(" ")[2]}</span> : <span class="hero__title__customText" style="color: var(--secondary)"
          >{descriptionTitle.split(",")[1].trim().split(" ")[1]}</span> <span class="hero__title__customText" style="color: var(--primary)">{descriptionTitle.split(",")[1].trim().split(" ")[2]}</span>}
      </h1>
      <p class="hero__description" data-aos="fade-right" data-aos-delay="500">
        {translations.sections.aboutMe.description}
      </p>

      <div class="hero__buttons__container">
        <div class="hero__buttons">
          <Button
            dataAos="fade-right"
            dataAosDelay="500"
            buttonStyle={{
              width: "auto",
              variant: "primary",
              size: "small",
              border: false,
              borderRadius: "medium",
              disabled: false,
            }}
            flexConfig={{
              enable: true,
              justify: "center",
              align: "center",
              gap: "16px",
            }}
            href={`#${contactMeId}`}
            openInNewTab={false}
          >
            <div class="buttons__text">{translations.sections.aboutMe.contactMe}</div> <img src={arrowRight} alt="Arrow Right Icon" />
          </Button>
          <Button
          dataAos="fade-right"
            dataAosDelay="500"
            buttonStyle={{
              width: "auto",
              variant: "secondary",
              size: "small",
              border: true,
              borderRadius: "medium",
              disabled: false,
            }}
            flexConfig={{
              enable: true,
              justify: "center",
              align: "center",
              gap: "16px",
            }}
            openInNewTab={false}
            href={translations.sections.aboutMe.downloadCVUrl}
          >
            <div class="buttons__text">{translations.sections.aboutMe.downloadCV}</div>
            <img src={download} alt="Download Icon"/>
          </Button>
        </div>
        <img src={dot} id="dot__image" data-aos="fade-right" alt="Dot Icon" data-aos-delay="700" />

        <div class="hero__contact__links">
          <a
            class="hero__contact__link"
            data-aos="fade-right"
            data-aos-delay="700"
            href="https://github.com/cami98735264"
            target="_blank"
          >
            <img src={Github} alt="Github Icon" />
        </a>
          <a
            class="hero__contact__link"
            data-aos="fade-right"
            data-aos-delay="900"
            href="https://www.linkedin.com/in/cristi%C3%A1n-camilo-rodr%C3%ADguez-montealegre-8a8697272/"
            target="_blank"
          >
            <img src={Linkedin} alt="Linkedin Icon" />
      </a>
          <a
            class="hero__contact__link"
            data-aos="fade-right"
            data-aos-delay="1100"
            href={`https://wa.me/573186562061?text=${translations.sections.aboutMe.whatsappText.split(" ").join("+")}`}
            target="_blank"
          >
            <img src={Whatsapp} alt="WhatsApp Icon"/>
    </a>
          <a
            class="hero__contact__link"
            data-aos="fade-right"
            data-aos-delay="1300"
            href={`https://mail.google.com/mail/u/0/?fs=1&to=mashlowtm0510@gmail.com&body=${translations.sections.aboutMe.emailTextBody.split(" ").join("+")}&su=${translations.sections.aboutMe.emailTextSubject.split(" ").join("+")}&tf=cm`}
            target="_blank"
          >
            <img src={Gmail} alt="Gmail Icon" />
  </a>
        </div>
      </div>
    </div>
    <div class="hero__image">
      <Image
        width={400}
        height={400}
        loading={"eager"}
        src={profilePicture}
        alt="Profile"
        data-aos="flip-right"
        data-aos-delay="1000"
      />
    </div>
  </div>
</PageSection>

<style>
  h1 {
    line-height: 65px;
  }
  h1,
  .hero__title__customText {
    font-size: clamp(3rem, 4vw, 4.5rem);
  }
  .hero {
    display: flex;
  }
  .hero__buttons img {
    width: 30px;
    object-fit: contain;
    height: 30px;
  }
  .hero__contact__links {
    display: flex;
    gap: 8px;
  }
  .hero__buttons__container {
    display: flex;
    gap: 12px;
  }
  .buttons__text {
    font-size: var(--font-size-description);
    text-align: left;
  }
  .hero__buttons {
    display: flex;
    gap: 8px;
  }
  .hero__description {
    font-size: var(--font-size-description);
    color: var(--copy-light);
  }
  .hero__contact__link:hover, .hero__contact__link:focus {
    background-color: var(--foreground);
  }
  .hero__contact__link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid var(--border);
    width: 50px;
    height: 100%;
    padding: 12px;
  }
  .hero__contact__link img {
    display: block;
    height: 100%;
    width: 100%;
  }

  .hero__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  @media (max-width: 880px) {
    .hero {
        flex-direction: column;
        gap: 24px !important;
    }
    .hero__content {
      gap: 24px;
    }
    .hero__title {
      line-height: 55px;
    }
    .hero__image {
        height: 100%;
    }
  }
  @media (max-width: 1220px) {
    .hero {
        padding: 0px;
        gap: 36px;
    }

    .hero__image, img {
        object-fit: cover;
        width: 100%;
        height: 400px;
    }

  }
  @media (max-width: 1480px) {
    .hero__buttons__container {
        flex-direction: column;
        gap: 24px;
    }

    #dot__image {
        display: none;
    }
  }
</style>
