---
import PageSection from "../PageSection.astro"
import { loadTranslations } from "../../i18n";
import { getLocale } from "astro-i18n-aut";
const locale = getLocale(Astro.url);
const translations = await loadTranslations(locale);
import { removeAccents } from "../../utils/utils";
let convertedId = removeAccents(translations.sections.contactMe.containerId).toLowerCase().split(" ").join("-");
---


<PageSection id={convertedId} fixedHeight={true} flexConfig={{
    enable: true,
    direction: "column",
    justify: "center",
    align: "center",
    gap: "16px",
}} maxWidth="1680px">
<h2 data-aos="zoom-out">{translations.sections.contactMe.title}</h2>
<p data-aos="zoom-in">
  {translations.sections.contactMe.description}
</p>

<form class="contact__form" data-aos="zoom-in">
    <div class="contact__form__input">
        <label for="name">{translations.sections.contactMe.form.name}</label>
    <input type="text" id="name" name="name" required>
    </div>    
    <div class="contact__form__input">
        <label for="message">{translations.sections.contactMe.form.message}</label>
    <textarea id="message" name="message" required></textarea>
    </div>
    
    <button type="submit">{translations.sections.contactMe.form.send}</button>
</form>
</PageSection>


<script>
    const form = document.querySelector("form");
    if (form) {
        form.addEventListener("submit", (e) => {
        e.preventDefault();
        // href based on this link https://mail.google.com/mail/?view=cm&fs=1&to=mashlowtm0510@gmail.com&su=Hola!%20Me%20gustar%C3%ADa%20hablar%20sobre%20tus%20servicios&body=Hola%20Cristi%C3%A1n,%20encontr%C3%A9%20tu%20portafolio%20y%20me%20gustar%C3%ADa%20hablar%20contigo%20sobre%20tus%20servicios.%20%C2%BFCu%C3%A1ndo%20podemos%20reunirnos?!
        const emailInput = document.querySelector("#email");
        const messageElement = document.querySelector("#message");
        const message = messageElement ? (messageElement as HTMLTextAreaElement).value : '';
        const nameElement = document.querySelector("#name");
        const name = nameElement ? (nameElement as HTMLInputElement).value : '';

        let href = `https://mail.google.com/mail/u/0/?fs=1&to=mashlowtm0510@gmail.com&su=${name}&body=${message}&tf=cm`;
        window.open(href, '_blank');

        });
    }
</script>

<style>
    p {
        text-align: center;
    }
    p,label {
    font-size: var(--font-size-description);
    color: var(--copy-light);
    }
  h2 {
    color: var(--copy);
    font-size: var(--font-size-title);
  }
  input, textarea {
    field-sizing: content;
    padding: 12px;
    background-color: #252329;
    border: none;
    outline: none;
    border-radius: 8px;
  }

  input:focus, textarea:focus {
    outline: 2px solid var(--primary);
  }

  button {
    border-radius: 8px;
    padding: 12px;
    background-color: var(--primary);
    color: var(--copy-light);
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }

  textarea {
    resize: none;
    min-height: 300px;
    max-height: 600px;
    max-width: 100%;
  }
  .contact__form {
    border-radius: 8px;
    padding: 24px;
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border: 1px solid #3e3b45;
    width: 100%;
    max-width: 800px;
  }

  .contact__form__input {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
</style>