---
import PageSection from "../PageSection.astro"
import TechnologiesList from "../TechnologiesList.astro"
import { loadTranslations } from "../../i18n";
import { getLocale } from "astro-i18n-aut";
import { removeAccents } from "../../utils/utils";
const locale = getLocale(Astro.url);
const translations = await loadTranslations(locale);
let convertedId = removeAccents(translations.sections.technologies.containerId).toLowerCase().split(" ").join("-");
let totalTechnologies = translations.sections.technologies.categories.frontend.length + translations.sections.technologies.categories.backend.length + translations.sections.technologies.categories.databases.length + translations.sections.technologies.categories.designTools.length + translations.sections.technologies.categories.deployment.length;
---


<PageSection fixedHeight={false} id={convertedId} flexConfig={{
    enable: true,
    direction: "column",
    justify: "center",
    align: "center",
    gap: "24px",
}} maxWidth="1680px" padding="92px 48px">
    <h2 data-aos="zoom-out">{translations.sections.technologies.title}</h2>
    <div id="project__header__label" data-aos="zoom-out"><span style="color: var(--secondary);">{totalTechnologies}</span> {translations.sections.technologies.count.description}</div>
    <p data-aos="zoom-out">{translations.sections.technologies.description}</p>
    <div class="technologies__list__container">
        <TechnologiesList title={translations.sections.technologies.categories.frontend} technologiesList={["html5", "react", "vitejs", "css3", "svelte", "nextjs", "astro"]} />
        <TechnologiesList title={translations.sections.technologies.categories.backend} technologiesList={["express", "nodejs", "python"]} />
        <TechnologiesList title={translations.sections.technologies.categories.databases} technologiesList={["mysql", "mongodb", "oracle", "postgresql"]} />
        <TechnologiesList title={translations.sections.technologies.categories.designTools} technologiesList={["figma"]} />
        <TechnologiesList title={translations.sections.technologies.categories.deployment} technologiesList={["AWS-EC2", "AWS-S3", "Hostinger", "Netlify", "CPanel", "Render", "Vercel"]} localeIcon={true}/>


    </div>
</PageSection>

<style>
    .technologies__list__container {
        margin-top: 16px;
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px 12px;
    }
    #project__header__label {
        padding: 6px 12px;
        background-color: var(--foreground);
        border: 2px solid var(--border);
        border-radius: 12px;
    }
    #project__header__label, #project__header__label span {
        font-size: var(--font-size-description);
    }
    p {
        text-align: center;
        font-size: var(--font-size-description);
        color: var(--copy-light);
    }
    h2 {
        color: var(--copy);
        font-size: var(--font-size-title);
    }
</style>