---
interface Technology {
  name: string;
  backgroundColor: string;
  textColor: string;
}

interface Experience {
  company: string;
  position: string;
  startDate: string;
  endDate: string;
  description: string;
  tasksList: string[];
  technologiesList: Technology[];
}
import Experience from "../Experience.astro";
import PageSection from "../PageSection.astro";
import { loadTranslations } from "../../i18n";
import { getLocale } from "astro-i18n-aut";
import { removeAccents } from "../../utils/utils";
const locale = getLocale(Astro.url);
const translations = await loadTranslations(locale);
let convertedId = removeAccents(translations.sections.experience.containerId).toLowerCase().split(" ").join("-");
---

<PageSection
  fixedHeight={false} id={convertedId}
  flexConfig={{
    enable: true,
    direction: "column",
    justify: "center",
    align: "center",
    gap: "24px",
  }}
  maxWidth="1680px"
  padding="92px 48px"
>
  <h2 data-aos="zoom-out">{translations.sections.experience.title}</h2>
  <p data-aos="zoom-in">
    {translations.sections.experience.description}
  </p>
  <div class="experiences__container">
    {translations.sections.experience.experienceList.map((experience: Experience, index: number) => (
      <Experience
        position={experience.position}
        company={experience.company}
        startDate={experience.startDate}
        endDate={experience.endDate}
        description={experience.description}
        tasksList={experience.tasksList}
        technologiesList={experience.technologiesList}
      />
    ))
    }
  </div>
</PageSection>

<style>
  .experiences__container {
    margin-top: 16px;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px 12px;
  }
  p {
    text-align: center;
    font-size: var(--font-size-description);
    color: var(--copy-light);
  }
  h2 {
    color: var(--copy);
    font-size: var(--font-size-title);
  }
</style>
